<section id="header">
  <span>What's Their Face!</span>
</section>
<section class="column flex">
  <section class="flex center mt" id="img-container">
    <img src="<%= @correct[2] %>" />
  </section>
  <section class="flex center column">
    <% @alternatives.each do |person| %>
      <button class="flex">
        <p>
          <%= person[1] %>
        </p>
      </button>
    <% end %>
  </section>
  <section>
    <%= @queue.to_json %>
  </section>
</section>
