<section id="header">
  <span>What's Their Face!</span>
</section>
<section class="column center middle flex">
  <form action="/setup" method="POST">
    <label for="option_select">Antal namnval: 2 - 5<label><br>
    <input type="range" class="slider" min="2" max="5" value="3" name="option_select" id="option_select"><br><br>
    <input type="submit" value="Begin Quiz">
  </form>
</section>
