<section id="header">
  <span>What's Their Face!</span>
</section>
<section class="column flex">
  <section class="flex center mt" id="img-container">
    <img src="<%= $correct[1] %>" />
    <%# Game Shark:<%= $correct[0] %>
  </section>
  <section class="flex center column">
    <form action="/guess" method="POST">
      <% @alternatives.each do |person| %>
        <input type="submit" class="flex" name="test" value="<%= person[0] %>">
      <% end %>
    </form>
  </section>
  <article>
    <%= session["response"] %>
  </article>
</section>
