<section id="header">
  <span>What's Their Face!</span>
</section>
<section class="column center flex">
  <section class="flex mt" id="img-container">
    <img src="<%= session[:correct].avatar.url %>" />
  </section>
  
    <div id="visual_quiz_timer"><%= session[:settings]["timer"] %></div>
  <section class="flex center column">
    <form action="/guess" method="POST">
      <% @alternatives.each do |person| %>
        <input type="submit" class="flex" name="test" value="<%= person.name %>">
      <% end %>
    </form>
  </section>
</section>

<script src="/js/script.js"></script>
