<section class="flex center column">
    <h1 class="header--normal"> Results: </h1>
</section>

<section class="flex center column">
    <div id="results"> x/5 correct! </div>
</section>

<section class="flex">
    <div class="flex center column mt">
        <h2> Face you knew the least: </h2>
        <div class="mt"> Image </div>
    </div>
    <div class="flex center column mt">
        <h2> Name you knew the least: </h2>
        <div class="mt"> Name </div>
    </div>
</section>