<section class="flex center column">
    <h1 class="header--normal"> Results: </h1>
</section>

<section class="flex center column">
    <div id="results"> x/5 correct! </div>
</section>

<section class="flex space">
    <section class="flex center column mt">
        <div> Face you knew the least: </div>
        <div class="mt"> Image </div>
    </section>
    <section class="flex center column mt">
        <div> Name you knew the least: </div>
        <div class="mt"> Name </div>
    </section>
</section>