<section class="flex center column">
    <h1 class="header--normal"> Results: </h1>
</section>

<section class="flex center column">
    <div id="results"> <%= @correct.length %>/<%=@incorrect.length + @correct.length%> correct guesses! </div>
</section>

<% if @incorrect.length > 0 %>
  <section class="flex">
    <div class="flex center column mt">
        <h2 id="worst"> Face you knew the least: </h2>
        <div id="img-container"> 
            <img src="<%= @worst.avatar.url %>">
        </div>
    </div>
    <div class="flex center column mt">
        <h2 id="worst"> Name you knew the least: </h2>
        <div class="mt" id="worst"> <%= @worst.name == nil ? "Running out of time" : @worst.name %>  </div>
    </div>
    </section>
<% else %>
  <section class="flex center mt column"> 
    <span id="right_answer"> Perfect score! </span> 
  </section>
<% end %>

<section class="flex center">
    <form action="/reset" method="POST" class="center mt">
        <input type="submit" value="Play again">
    </form>
</section>