<section class="flex center column" >
  <h1 class="header--normal"> Your answer was: </h1>
</section>
<section  class="flex center column">
  <span id="<%= session["response"] == "Rätt" ? "right_answer" : "wrong_answer" %>"><%= session["response"] == "Rätt" ? "Correct!" : "Wrong!" %>!</span>
  <div> Correct answer: </div>
  <div> <i> <%= session[:correct][1] %> </i> </div>
  <section id="img-container">
    <img src="<%= @correct[2] %>">
  </section>
  <a href="/">
    <button>Nästa!
    </button>
  </a>
</section>
